<section class="header">
    <img src="images/meu-dinheiro.jpg" alt="Logo">
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/calculadora">Calculadora</a>
            <a href="/operacoes">Operações</a>
            <a href="/nova-operacao">Nova Operação</a>
        </li>
    </ul>
</section>