<!DOCTYPE html>
<html>
    <% include Config/head %>
    <body>
        <% include Components/header %>
        <form method='POST'>
            <fieldset>
                <label for='descricao'>Descrição:</label> 
                <input id='descricao' type='text' name='descricao'/>
            </fieldset>
            <fieldset>
                <label for="valor">Valor:</label>
                <input id='valor' type='text' name='valor'/>
            </fieldset>
            <button type='submit'>Salvar</button>
        </form>
    </body>
</html>